@import '../directives/mvCollection/mvCollection.styles'
@import '../directives/mvCollectionItem/mvCollectionItem.styles'

.materialize {

}
ul.tabs
    li
        a
            color #ff4081 !important
    & > .indicator
        background-color #3f51b5
