

<section>

    <header>

        <h3 >mvvm<strong class="red-text text-lighten-1">{{generator.name | uppercase}}</strong></h3>

    </header>

    <main>

        The Api Generator Creates a new Client side api for accessing a RESTFUL endpoint.

        Currently the Api Generator only generates code using $http. Future versions will provide options for <strong>Restangular</strong> and <strong>ngResource</strong>.

        <hr>
        <h4 class="red-text text-lighten-1">Options</h4>
        <h5>--service</h5>
        - will generate an api using a AngularJS Service.
        <h5>--factory</h5>
        - will generate an api using a AngularJS Factory.

    </main>
    <!-- <footer> -->

        <!-- <h6>generators | <strong>api</strong></h6> -->

    <!-- </footer> -->

</section>