<section>

    <header>

        <h3 >mvvm<strong class="red-text text-lighten-1">{{generator.name | uppercase}}</strong></h3>

    </header>

    <main>

        The Controller Generator Creates a new AngularJS Controller component.

        The first argument provided will be the name. If no name is specified, then you will be prompted for the component's name.

        For Every Option, if no flag is used, then you will be prompted for the answer.
        <hr>
        <h4 class="red-text text-lighten-1">Command</h4>
        <pre><h5>mvvm make <strong>config</strong> [<strong class="blue-text">name</strong>]</h5></pre>
        <h4 class="red-text text-lighten-1">Options</h4>
        <h5>--module</h5>
        - will use generate the code within the chosen module's directory.
        <h5>-f, --functions <<stong class="blue-text">list</stong>></h5>
        - Comma seperated list, generates functions within the generated config.
        <h5>-p, --providers <<stong class="blue-text">list</stong>></h5>
        - Comma seperated list, Injects providers into the configuration.

    </main>
    <!-- <footer> -->

        <!-- <h6>generators | <strong>api</strong></h6> -->

    <!-- </footer> -->

</section>