<section>

    <header>

        <h3 >mvvm<strong class="red-text text-lighten-1">{{generator.name | uppercase}}</strong></h3>

    </header>

    <main>

        The <strong>{{generator.name}}</strong> Generator Creates a new test in the specofoed module's tests directory.

        The first argument provided will be the name. If no name is specified, then you will be prompted for the component's name.

        For Every Option, if no flag is used, then you will be prompted for the answer.
        <hr>
        <h4 class="red-text text-lighten-1">Command</h4>
        <pre><h5>mvvm make <strong>{{generator.name}}</strong> [<strong class="blue-text">name</strong>]</h5></pre>
        <h4 class="red-text text-lighten-1">Options</h4>
        <h5>-m, --module [<stong class="blue-text">list</stong>]</h5>
        - The name of the module the {{generator.name}} belongs to.
    </main>
    <!-- <footer> -->

        <!-- <h6>generators | <strong>api</strong></h6> -->

    <!-- </footer> -->

</section>