.home-view
    .title,
    .title-2,
    .title-3
        color white
        font-weight 100
        text-shadow(0 2px 4px rgba(0,0,0,0.3))
        strong
            font-weight 700
        small
            font-size 0.5em

    .title-3
        // width 65%
        // margin-left auto
    .tiny-title
        display: inline-block
        text-shadow(0 2px 4px rgba(0,0,0,0.3))
        font-weight 100

    .title
        display: inline-block
        font-size 6em

    .repo-links
        .btn-large
            margin-bottom 0