<section class="section home-view indigo">
    <div class="container">
        <div class="row">
                <h1 id="title" class="title">mv<strong class="pink-text text-accent-1">VM</strong>
                <h5 id="subtitle" class="tiny-title white-text">model View <strong class="pink-text text-accent-1"> ViewModel</strong></h5>
                </h1>

        </div>
        <div class="row">
            <div class="col s12">
                <h3 id="title-2" class="white-text title-2">CLI & <strong>Generator</strong> for Developing with<strong class="pink-text text-accent-1"> . . .</strong></h3>
            </div>
            <div class="col s12">
                <h3 class="title-3"><strong class="pink-text text-accent-1">@</strong>Gulp<strong>JS</strong></h3>
                <h3 class="title-3"><strong class="pink-text text-accent-1">@</strong>Angular<strong>JS</strong></h3>
                <h3 class="title-3"><strong class="pink-text text-accent-1">@</strong>Materialize<strong>CSS</strong></h3>
            </div>
        </div>
    </div>
</section>
<section>
    <section class="section grey darken-4 center repo-links">
    <a href="http://github.com/joelcoxokc/mvvm" class="waves-effect waves-light btn-large white pink-text">GitHub</a>
    <a href="https://www.npmjs.com/package/mvvm"  class="waves-effect waves-light btn-large pink accent-1">NPM</a>
    </section>
</section>
